body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
}

.nav-bar {
    width: 100vw;
    height: 55px;
    background: #ff9944;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-bar a img {
    width: 100px;
    height: 45px;
    margin-left: 20px;
}

.close {
    display: none;
}

.side {
    margin-right: 40px;
}

.nav-links {
    display: none;
    list-style: none;
}

.cards {
    width: 100vw;

    margin-top: 40px;

    display: grid;
    justify-content: center;
    align-items: center;
}

.cards-s {
    display: inline-block;
}

.card {
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.card-header {
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
}

.card-body {
    padding: 10px;
}

.card-body img {
    width: 280px;
    aspect-ratio: 4/2.5;
}

.card-footer {
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
}

.card-footer a {
    text-decoration: none;
}




@media (min-width: 728px) {

    .nav-links {
        margin-right: 20px;
        display: block;
        list-style: none;
        display: flex;
        gap: 80px;
    }

    .nav-links li {
        width: 90px;
        height: 30px;
        border-radius: 10px;
        background-color: wheat;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-links li a {
        text-align: center;
        text-decoration: none;
        color: black;
    }

    .sidenav {
        width: 100%;
        height: 50px;
        overflow-y: hidden;
    }

    .sidenav a {
        padding: 8px;
    }

    .cards-s {
        display: flex;
    }

}